
.bttn-p{
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .font-button;
    font-size: .7rem;
    width: 18em;
    height: 3.5em;
    background: rgba(66, 226, 184, 1);
    border: 0.15em solid #0F0A0A;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6em;
}

.bttn-s{
    display: grid;
    justify-content: center;
    align-items: center;
    @extend .font-button;
    
    grid-template-columns: repeat(2,min-content);
    column-gap: 8px;
    
    font-size: 0.9em;
    height: 4em;
    width: 10em;
    border-radius: 6em;

    border: 0.15em solid #0F0A0A;
    box-sizing: border-box;
    filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 90px;

    .fab{
        font-size: 1.2em;
    }
}
.bttn-icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #42E2B8;
    border: 2px solid black;
    border-radius:4px;
}