@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@900&display=swap');
@import "mixins";

$Poppins: 'Poppins';
$Oxygen: 'Oxygen';


.headline-1{
    @include text-Osw;
    font-size: 95px;
    letter-spacing: -0.015em;
}
.headline-2{
    @extend .headline-1;
    font-size: 59px;
    letter-spacing: -0.005em;
}
.headline-3{
    @include text-Osw;
    font-size: 48px;
}
.headline-4{
    @include text-Osw;
    font-size: 34px;
}
.headline-5{
    @include text-Osw;
    font-size: 24px;
}
.caption{
    //styleName: Caption;
    @include text-Osw;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;

}
.body-1{
    @include text-Osw;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.005em;
    text-align: left;
}
.body-2{
    @extend .body-1;
    font-size: 14px;
    letter-spacing: 0.0025em;
    text-align: left;
}
.font-button{
    @include text-Osw;
    letter-spacing: 0.18em;

}