<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/556bf0993e.js" crossorigin="anonymous"></script>
    <title>test</title>
</head>

<body>
    <div class="titles">
        <h1 class=headline-1>Headline 1</h1>
        <h2 class=headline-2>Headline 2</h2>
        <h3 class=headline-3>Headline 3</h3>
        <h4 class=headline-4>Headline 4</h4>
        <h5 class=headline-5>Headline 5</h5>
    </div>
    <div class="body-1">Body 1</div>
    <div class="caption">cap</div>
    <div class="body-2">Body 2</div>
    <a class="elb bttn-s" href=#><i class="fab fa-github"></i>BUTTON</a>
    <a class=bttn-p href="#">BUTTON</a>
</body>

</html>